@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ranchers&display=swap');
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-ranchers: 'Ranchers', sans-serif;
  --font-chelsea: 'Chelsea Market', sans-serif;
  --font-josefin: 'Josefin Sans', sans-serif;

  /* Colors */
  --color-cream: #EFF7CF;
  --color-shadow: #232020;

  --color-plum: #AF4D98;
  --color-banana: #F2E94E;
  --color-steel: #759EB8;
  --color-sage: #60992D;
  --color-tomato: #E94F37;
}

html {
  @apply font-josefin bg-cream scroll-smooth;
}

/* input type text */
input[type="text"], input[type="date"], textarea {
  @apply bg-cream rounded-2xl p-2 focus-visible:outline-3 focus-visible:outline-offset-2 focus-visible:outline-steel;
}